/* Ppa.module.css */

.btnModificar {
  /* Forzamos el color del texto a blanco para que siempre sea visible */
  color: white !important;
  background-color: #ffa400;
}

/* Opcional: puedes añadir un estilo para el hover si quieres ser aún más específico */
.btnModificar:hover {
  color: white !important;
}
